{% extends 'base.html' %}
{% block content %}
{% for customer in cust_info %}
<div class="container">
    <h1>Crate Cutlist</h1>
    <div class="cust_info">
        <div><b>Customer Name:</b> {{customer.cust_name}}</div>
        <div><b>Customer Number:</b> {{customer.cust_no}}</div>
        <div><b>Street Address:</b> {{customer.street}}</div>
        <div><b>City:</b> {{customer.city}}</div>
        <div><b>State:</b> {{customer.state}}</div>
        <div><b>Zip code:</b> {{customer.zip}}</div>
        <div><b>Ship Via:</b> {{customer.ship_via}}</div>
    </div>

    <div class="order_numbs_label"><b>Order #'s:</b></div>
    <div class="order_numbs">
        {% for orders in customer.order_set.all %}
        {% for job in orders.job_numbers_set.all %}
        <p>{{job.job_number}} [VERIFIED][LOADED]</p>

        {% endfor %}

    </div>
    <table style="width:25%">
        <tr>
            <th>Crate Length</th>
            <th>Crate Width</th>
            <th>Crate Height</th>
        </tr>
        <tr>
            <td> {{ orders.crate_length }} </td>
            <td> {{ orders.crate_width }} </td>
            <td> {{ orders.crate_height }} </td>
        </tr>
    </table>

    <table style="width:25%">
        <tr>
            <th>Part Description</th>
            <th>Width</th>
            <th>Height</th>
        </tr>
        <tr>
            <td>Crate Top</td>
            <td> {{ orders.crate_top_width }} </td>
            <td> {{ orders.crate_top_length }} </td>
        </tr>
        <tr>
            <td>Crate Bottom</td>
            <td> {{ orders.crate_bottom_width }} </td>
            <td> {{ orders.crate_bottom_length }} </td>
        </tr>
        <tr>
            <td>Crate Sides</td>
            <td> {{ orders.crate_sides_width }} </td>
            <td> {{ orders.crate_sides_length }} </td>
        </tr>
        <tr>
            <td>Crate Ends</td>
            <td> {{ orders.crate_ends_width }} </td>
            <td> {{ orders.crate_ends_length }} </td>
        </tr>
        <tr>
            <td>Corner Braces</td>
            <td> {{ orders.corner_brace_width }} </td>
            <td> {{ orders.corner_brace_length }} </td>
        </tr>
    </table>
    {% endfor %}

</div>

{% endfor %}

{% endblock %}