.container {
  margin-left: 20px;
}

h1 {
  animation-duration: 2s;
  animation-name: slidein;
  color: rgb(36, 34, 178);
  margin-top: 20px;
  width: fit-content;
  display: inline-block;
  
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

form {
  width: 200px;
}

button {
  margin-top: 10px;
}

.cust_info {
  margin-top: 20px;
  max-width: 50%;
}

.order_numbs_label {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  display: inline-block;
  position: relative;
  left: 50%;
  bottom: 170px;
}

.order_numbs {
  display: flex;
  justify-content: flex-end;
  display: inline-block;
  position: relative;
  left: 50%;
  bottom: 170px;
}

table, th, td {
  border: 1px solid black; 
}

table {
  margin-top: 20px;
}